*{box-sizing: border-box;
 
}

h2{
         color: green;
        


}


h3{
color: orangered;


}
ul li a{

    color: green;
    text-decoration: none;
}
.D1{
    float: left;
    width: 25%;
    padding: 15px;


}

.D2{
    float: right;
    width: 350px;
    padding: 15px;
    padding-right: 15px;
}
img{
    border-radius: 50%;
    width: 100px; height: 100px;
    margin: 0 25%;

}
span{
    color: green;
}
form{
    border: black 1px solid;
    padding:5%;
  text-align: center;

    background-color: blanchedalmond;

}
.foo1{
text-align: center;

}

  form{

  }
  .foo{

    text-align: center;
    width:auto;
  }